{%extends "admin/layoutadmin.njk"%}

{%block title%}
    <title>Admin - Chefs</title>
{%endblock title%}

{%block content%}

    <form id="create-chef" action="/admin/chefs" method="post" class="card"  enctype="multipart/form-data" >

        <div class="formheader">

            <h2>Criando Chef</h2>
            <button form="create-chef" type="submit">Salvar chef</button>

        </div>

    {%include "admin/chefs/fields.njk" %}
        

</form>

{%endblock content%}