{%extends "admin/layoutadmin.njk"%}

{%block content%}

<div class="indexchef">


<div>


    <a href="/admin/chefs/create">Criar Chef</a>


    <h2>Gerenciar Chefs</h2>

</div>

    <div class="cheflist">
        {%for item in items%}
        <div class="chefcard">

           <img src="{{item.avatar_url}}" alt="">

            
           <div>

            <p>{{item.name}}</p>
            <a href="/admin/chefs/{{item.id}}">Visualizar</a>

           </div>
        </div>
        {%endfor%}



    </div>



</div>


{%endblock content%}