{%extends "admin/layoutadmin.njk"%}

{%block title%}
    <title>Chef -
        {{chef.name}}</title>

{%endblock title%}

{%block content%}
    <div class="show">

        <h1>Chef:
            {{chef.name}}</h1>
        <a href="/admin/chefs/{{chef.id}}/edit">Editar Chef</a>

    </div>

    <section class="recipe">

        <div class="image">
            <img id="imgchefshow" src="{{chefFile[0].src}}" alt="">
        </div>

        <div class="title">

            <h1>{{chef.name}}</h1>
            <p>
                {{chef.total_recipes}}
                receitas</p>
        </div>

    </section>

    <div id="chefrecipeslist">

        <h2>Receitas</h2>

    </div>

    <section class="chefRecipes">

        <div class="containerIndex">
            {%for recipe in recipes%}
                <div class="cardIndex">
                    {%for recipefile in recipeFile%}
                    {%for file in files%}
                    {%if file.id == recipefile.file_id and recipe.recipe_id == recipefile.recipe_id %}
                    <img src="{{file.src}}" alt="">
                    {%endif%}
                    {%endfor%}
                    {%endfor%}
                    <div class="indexinformation">

                        <h4>{{recipe.recipe_name}}</h4>
                        <h5>por {{chef.name}}</h5>
                        <a href="/admin/recipes/{{recipe.recipe_id}}">Visualizar</a>

                    </div>

                </div>
            {%endfor%}
            </div>
        </section>
    {%endblock content%}