<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">
  
        {%block title%}
        {%endblock title%}
    </head>

    <body>


        <header class="menuadmin">

            <div id="logo">

            <a href="/"><img src="/assets/logowhite.png" alt=""></a>
            
            </div>

        </header>
  

        {%block content%}
        {%endblock content%}

       

        {%block scripts%}
        {%endblock scripts%}

    
    </body>
</html>