<div class="fields">

    <div class="userField">
        <p>Nome</p>
        <input class="userFieldInput" type="text" name="name" value="{{user.name}}" placeholder="Digite o nome completo">

    </div>

    <div class="userField">

        <p>Email</p>
        <input class="userFieldInput" type="text" name="email" value="{{user.email}}" placeholder="Digite seu email"  onblur="Validate.apply(this, 'isEmail')">

    </div>

</div>


<div class="isadmin">
    <input {%if user.is_admin == true %} checked {%endif%} type="checkbox" name="isadmin" id="isadmin" onclick="isadmins(this)">
    <label for="isadmin">Administrador</label>
</div>


