<div class="fields">

    <div class="userField">

        <p>Nome</p>
        <input class="userFieldInput" type="text" name="title" placeholder="Digite o nome completo">

    </div>

    <div class="userField">

        <p>Email</p>
        <input class="userFieldInput type=" text" name=" title" placeholder="Digite seu email">

    </div>

</div>

<div class="isadmin">
    <input type="checkbox" name="isadmin" id="isadmin">
    <label for="isadmin">Administrador</label>
</div>

</div>