{%extends "layout.njk"%}

  {%block title%}
    <title>Home</title>
    {%endblock title%}


    {%block content%}
    <div class="container">

        <div id="chef">
            
            <div>
            <h1>As melhores Receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>

            </div>
            <img src="assets/chef.png" alt="">

        </div>
        
        <h2>Mais acessadas</h2>
        <div class="cards">


            <div class="card" id="burger">

                <img src="assets/burger.png" alt="">
                <h4 id="Triplo bacon burger">Triplo bacon burger</h4>
                <p>por Jorge Relato</p>


            </div>

            <div class="card" id= "pizza">

                <img src="assets/pizza.png" alt="">
                <h4>Pizza 4 Estações</h4>
                <p>por Fabiana Melo</p>


            </div>

            <div class="card" id="espaguete">

                <img src="assets/espaguete.png" alt="">
                <h4>Espaguete ao alho</h4>
                <p>por Júlia Kinoto</p>

            </div>

            <div class="card" id="lasanha">

                <img src="assets/lasanha.png" alt="">
                <h4>Lasanha mac n’ cheese </h4>
                <p>por Juliano Vieira</p>

            </div>

            <div class="card" id="doce">

                <img src="assets/doce.png" alt="">
                <h4>Docinhos pão-do-céu</h4>
                <p>por Ricardo Golvea</p>

            </div>

            <div class="card" id="asinhas">

                <img src="assets/asinhas.png" alt="">
                <h4>Asinhas de frango ao barbecue</h4>
                <p>por Vania Steroski</p>

            </div>



        </div>

    </div>

  
    
    {%endblock content%}

    {%block scripts%}
    <script src="scripts.js"></script>
    {%endblock scripts%}
