<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
  
    <title>Home</title>
</head>
<body>


    <div class="menu">
            
            <a href="home.html"><img src="assets/logo.png" alt=""></a>
            
            <a href="/sobre">Sobre</a>
            <a href="/receitas">Receitas</a>
            
            
       
        
    </div>  

    <div class="container">

        <div id="chef">
            
            <div>
            <h1>As melhores Receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>

            </div>
            <img src="assets/chef.png" alt="">

        </div>
        
        <h2>Mais acessadas</h2>
        <div class="cards">


            <div class="card" id="burger.png">

                <img src="assets/burger.png" alt="">
                <h4 id="Triplo bacon burger">Triplo bacon burger</h4>
                <p>por Jorge Relato</p>


            </div>

            <div class="card" id= "pizza.png">

                <img src="assets/pizza.png" alt="">
                <h4>Pizza 4 Estações</h4>
                <p>por Fabiana Melo</p>


            </div>

            <div class="card" id="espaguete.png">

                <img src="assets/espaguete.png" alt="">
                <h4>Espaguete ao alho</h4>
                <p>por Júlia Kinoto</p>

            </div>

            <div class="card" id="lasanha.png">

                <img src="assets/lasanha.png" alt="">
                <h4>Lasanha mac n’ cheese </h4>
                <p>por Juliano Vieira</p>

            </div>

            <div class="card" id="doce.png">

                <img src="assets/doce.png" alt="">
                <h4>Docinhos pão-do-céu</h4>
                <p>por Ricardo Golvea</p>

            </div>

            <div class="card" id="asinhas.png">

                <img src="assets/asinhas.png" alt="">
                <h4>Asinhas de frango ao barbecue</h4>
                <p>por Vania Steroski</p>

            </div>



        </div>

    </div>

    <div class="modalOverlay">

        <div class="modal">

            <div class="modal-img">

                
                <img src="" alt="">
            </div>
            <div class="modal-title">

                <h4></h4>
            </div>
            <div class="modal-author">

                <p></p>
            </div>
            <a class="closemodal">Fechar</a>
        </div>

    </div>


    <footer>

        <p>Todos direitos reservados, receitas Foodfy.</p>


    </footer>

    <script src="scripts.js"></script>

    
</body>
</html>