{%extends "layout.njk"%}

    {%block title%}
    <title>Receitas</title>
    {%endblock title%}


    {%block content%}
    <div class="container">
        
        <div class="cards" id="cardsRecipes">

            {%for item in items%}
            <div class="card" id="burger">

                <img src="{{item.image_url}}" alt="">
                <h4>{{item.name}}</h4>
                <p>por {{item.author}}</p>


            </div>

            {%endfor%}




        </div>

    </div>

    {%endblock content%}

   
        
{%block scripts%}
<script src="scripts.js"></script>
{%endblock scripts%}
    