<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">
  
        {%block title%}
        {%endblock title%}
    </head>

    <body>


        <header class="menuadmin">

            <div id="logo">

            <a href="/admin"><img src="/assets/logowhite.png" alt=""></a>
            <a href="/admin/recipes">Receitas</a>
            <a href="/admin/chefs">Chefs</a>
            </div>
            

        </header>

        {%include 'admin/messages.njk'%}
  

        {%block content%}
        {%endblock content%}

       

        {%block scripts%}
        <script src="/scripts/admin-features.js"></script>
        {%endblock scripts%}

    
    </body>
</html>