

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    min-width: 1400px;
    min-height: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    position: relative;
  
 
}

div.menu {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    margin-top: 37px;
    padding-right: 587px;

}

.menu img {
    width: 90.6px;
    height: 26.9px;
    margin-right: 122.4px;

}

.menu a {
    color: #111111;
    text-decoration: none;
    font-size: 16px;
    margin-left: 30px;
    
}


#chef {
    width: 940px;
    height: 366px;
    background-color: #FBDFDB;
    display: flex;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 30px;
    
}

#chef h1 {
    font-size: 32px;
    font-weight: bold;
    padding-left: 60px;
    padding-top: 117px;
    margin-bottom: 10px;

    

    
}

#chef p {
    max-width: 316px;
    padding-left: 60px;

    text-align: justify;
    opacity: 0.7;
    font-size: 18px;
    line-height: 28px;
}

#chef img {
    width: 216px;
    height: 300px;
    padding-left: 248px;
    padding-top: 66px;
    padding-right: 100px;

}

.container {
    margin: 0 auto;
}


div.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 20px;
}

div.card img {
    height: 140px;
    width: 300px;
    border-radius: 15px;
    cursor: pointer;

}

.container h2 {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 20px;
  
}

.footer {
    padding-top: 20px;
}

footer {
    background-color: #EEEEEE;
    width: 100%;
    margin-bottom: 0;
    position: absolute;
     
}

footer p {
    text-align: center;
    font-size: 14px;
    color: #999999;
    padding: 2%;
    margin: 0 auto;
}

/* SOBRE HTML */
div.about {
    max-width: 940px;

}

div.sobreofoodfy {
   margin: 0 auto;
}

div.sobreofoodfy h1 {
    font-size: 24px;
    font-weight: bold;
    padding: 50px 0 20px 0;
}

div.sobreofoodfy h2 {

    font-size: 20px;
    font-weight: bold;
    padding: 30px 0 20px 0;

}

div.sobreofoodfy p {
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    box-sizing: border-box;
    max-width: 940px;
    padding-bottom: 30px;
}

/* PAGE RECEITAS */

#cardsRecipes{
    padding-top: 50px;
}


/* PAGE RECIPE */

.image {
    display: flex;
    justify-content: center;
}

.image img {
    width: 940px;
    height: 280px;
    border-radius: 15px;
    margin: 50px 230px 50px 230px;
}

.recipe {
    margin-bottom: 0;
}

.recipe h1 {
    font-size: 36px;
    font-weight: bold;
    color: #111111;
    text-align: center;
    margin-bottom: 4px;
}

.title p {
    font-size: 20px;
    color: #777777;
    text-align: center;
    margin-top: 0;

}

.recipe-description {
    align-items: center;
    padding: 0px;
    margin-top: 0;
}



.span {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 940px;
    padding-bottom: 20px;
    padding-top: 39px;
}

.span h2 {
    font-weight: bold;
    font-size: 24px;
    color: #111111;
    
}

.span span{
    color: #999999; 
    margin-left: 8px;
    font-size: 12px;
    transition: 500ms;
    padding-top: 6px;
}

.content p {
text-align: justify;
font-size: 18px;
color: #444444;
line-height: 28px;
}

.content li {
font-size: 18px;
color: #444444;
line-height: 28px;
}

.content.hide{
    visibility: hidden;
    display: none;
}
.recipe ul {
    margin: 0 auto;
    max-width: 940px;
}

p#information {
    margin: 0 auto;
    max-width: 940px;
}

/* LAYOUT ADMIN */


.menuadmin {
    background-color:#111111;
    width: 100%;
    padding: 25px;
    margin: 0 auto;

}

div#logo {
    max-width: 940px;
    margin: 0 auto;
    padding-right: 41px;
}


/* FORM */

div.create {
    display: flex;
    max-width: 940px;
    margin: 0 auto;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
    
}

div.item,
div.ingredient,
div.preparation,
form p,
#addIngredient,
#addPreparation,
div.buttonadd {
    margin: 0 auto;
    max-width: 940px;
}

form p {
    margin-top: 30px;
    font-weight: bold;
    font-size: 16px;
}

input {
    width: 100%;
    border: 1px solid #DDDDDD;
border-radius: 4px;
height: 49px;
font-size: 16px;
color: #111111;
margin-top: 10px;
   
}

textarea {
    border: 1px solid #DDDDDD;
    width: 100%;
    border-radius: 4px;
    height: 257px;
    margin-top: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 15px;
    box-sizing: border-box;
}

button.addIngredient,
button.addPreparation {
    background: none;
    color: #6558C3;
    font-weight: bold;
    font-size: 16px;
}



button[type="submit"] {
    padding: 9px 20px;
    background-color: #6558C3;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;

}
