

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    min-width: 1400px;
    min-height: 100vh;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 6rem;
  
 
}

@keyframes hidemessage {
    to{
        top: -50px;
        opacity: 0;
    }
}


.messages {
    display: flex;
    justify-content: center;
    padding: 16px;
    position: absolute;
    width: 100%;
    color: white;
    top: 0;
    opacity: 1;

    animation: hidemessage 400ms 5s ease-out forwards;
}

.messages.error {
    background-color: red;
}

.messages.success {
    background-color: rgb(122, 182, 30);
}

div.menu {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    margin-top: 37px;
    width: 940px;

}

.menu img {
    width: 90.6px;
    height: 26.9px;
    margin-right: 122.4px;

}

.menu a {
    color: #111111;
    text-decoration: none;
    font-size: 16px;
    margin-left: 30px;
    
}

.menu a.active{

font-weight: bold;

}

.menu a:first-child{

    margin: 0;
}


#chef {
    width: 940px;
    height: 366px;
    background-color: #FBDFDB;
    display: flex;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 30px;
    
}

#chef h1 {
    font-size: 32px;
    font-weight: bold;
    padding-left: 60px;
    padding-top: 117px;
    margin-bottom: 10px;

    

    
}

#chef p {
    max-width: 316px;
    padding-left: 60px;

    text-align: justify;
    opacity: 0.7;
    font-size: 18px;
    line-height: 28px;
}

#chef img {
    width: 216px;
    height: 300px;
    padding-left: 248px;
    padding-top: 66px;
    padding-right: 100px;

}

.container {
    margin: 0 auto;
}


div.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 20px;
    width: 940px;
}

div.cardfile {
    position: relative;
    height: 140px;
    width: 300px;
}

div.cardfile img {
    height: 140px;
    width: 300px;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    opacity: 0;

}

div.cardfile img:first-child {
    opacity: 1;
}

.container h2 {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 20px;
  
}

.footer {
    padding-top: 20px;
}

footer {
    background-color: #EEEEEE;
    width: 100%;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
   
   
     
}

footer p {
    text-align: center;
    font-size: 14px;
    color: #999999;
    padding: 2%;
    margin: 10px auto;
}

/* SOBRE HTML */
div.about {
    max-width: 940px;

}

div.sobreofoodfy {
   margin: 0 auto;
}

div.sobreofoodfy h1 {
    font-size: 24px;
    font-weight: bold;
    padding: 50px 0 20px 0;
}

div.sobreofoodfy h2 {

    font-size: 20px;
    font-weight: bold;
    padding: 30px 0 20px 0;

}

div.sobreofoodfy p {
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    box-sizing: border-box;
    max-width: 940px;
    padding-bottom: 30px;
}

/* PAGE RECEITAS */
#cardsRecipes .card .cardImage {
    width: 300px;
    height: 140px;
}

#cardsRecipes{
    padding-top: 50px;
    width: 940px;
}

#cardsRecipes img {
    width: 300px;
    height: 140px;
    border-radius: 8px;
    opacity: 0;
}

#cardsRecipes img:first-child {
    opacity: 1;
}

div.menu {
    position: relative;
}



form#filter-recipes {

display: grid;
grid-template-columns: 246px 91px;
gap: 8px;
align-items: center;
position: absolute;
right: 0;    

}

form#filter-recipes input{

    width: 100%;  
    height: 100%; 
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    font-size: 16px;
    color: #111111;
    margin-top: 0;

  
}

form#filter-recipes button {

width: 100%;
    
}

div.pagination {

    width: 940px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.pagination a {

    text-decoration: none;
    padding-top: 20px;
    font-size: 18px;
    margin: 0 5px;
    color: black;
    font-weight: bold;


    
}

div.searchFor {
    width: 940px;
    margin: 0 auto;
    padding-top: 52px;
    padding-bottom: 20px;
}

div.active {

visibility: hidden;
opacity: 0;
padding: 0;


}
   


/* PAGE RECIPE */

.image {
    display: flex;
    justify-content: center;
}

div.image img {
    width: 100%;
    height: 280px;
    border-radius: 15px 15px;
    padding-top: 50px;
    padding-bottom: 20px;
    object-position: 50% 50%;

}

.recipe {
    margin-bottom: 0;
    width: 940px;
    position: relative;
    margin: 0 auto;
}

.recipe h1 {
    font-size: 36px;
    font-weight: bold;
    color: #111111;
    text-align: center;
    margin-bottom: 4px;
}

.title p {
    font-size: 20px;
    color: #777777;
    text-align: center;
    margin-top: 0;

}

.recipe-description {
    align-items: center;
    padding: 0px;
    margin-top: 0;
}



.span {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 940px;
    padding-bottom: 20px;
    padding-top: 39px;
}

.span h2 {
    font-weight: bold;
    font-size: 24px;
    color: #111111;
    
}

.span span{
    color: #999999; 
    margin-left: 8px;
    font-size: 12px;
    transition: 500ms;
    padding-top: 6px;
}

.content p {
text-align: justify;
font-size: 18px;
color: #444444;
line-height: 28px;
width: 100%;
}

.content li {
font-size: 18px;
color: #444444;
line-height: 28px;
}

.content.hide{
    visibility: hidden;
    display: none;
}
.recipe ul {
    margin: 0 auto;
    max-width: 940px;
}

p#information {
    margin: 0 auto;
    max-width: 940px;
}

/* LAYOUT ADMIN */


.menuadmin {
    background-color:#111111;
    width: 100%;
    padding: 25px;
    margin: 0 auto;

}

div#logo {
    max-width: 940px;
    margin: 0 auto;
    padding-right: 41px;
    display: flex;
    align-items: center;
}

div#logo a:nth-child(2).active,
div#logo a:nth-child(3).active {

    color: white;

}

div#logo a:nth-child(2){
color:  #999999;
margin-left: 50px;
text-decoration: none;
font-size: 15px;
text-transform: uppercase;
font-weight: bold;
}

div#logo a:nth-child(3) {
color: #999999;
margin-left: 30px;
text-decoration: none;
font-size: 15px;
text-transform: uppercase;
font-weight: bold;

}




/* FORM */

div.create {
    display: flex;
    max-width: 940px;
    margin: 0 auto;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
    
}

div.item,
div.ingredient,
div.preparation,
form p,
#addIngredient,
#addPreparation,
div.buttonadd {
    margin: 0 auto;
    max-width: 940px;
}

form p {
    margin-top: 30px;
    font-weight: bold;
    font-size: 16px;
}

input,
select {
    width: 100%;
    border: 1px solid #DDDDDD;
border-radius: 4px;
height: 49px;
font-size: 16px;
color: #111111;
margin-top: 10px;
   
}

textarea {
    border: 1px solid #DDDDDD;
    width: 100%;
    border-radius: 4px;
    height: 257px;
    margin-top: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 15px;
    box-sizing: border-box;
}

button.addIngredient,
button.addPreparation {
    background: none;
    color: #6558C3;
    font-weight: bold;
    font-size: 16px;
}



button[type="submit"] {
    padding: 9px 20px;
    background-color: #6558C3;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;

}

.formheader {
    display: flex;
    width: 940px;
    margin: 0 auto;
    justify-content: space-between;
}


/* --- INDEX --- */

div#indexh1 {
    margin: 0 auto;
   width: 940px;
}

#indexh1 h1 {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 30px;
}

div.containerIndex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 940px;
    margin: 0 auto;
}

div.cardIndex {
    display: flex;
}

div.cardIndex img:first-child {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #828282ad;
    opacity: 1;
}

div.cardIndex img {
    opacity: 0;
}

#file-image {
    width: 172px;
    height: 80px;
    position: relative;
}

#file-image img {
    width: 172px;
    height: 80px;
    border-radius: 9px;
    position: absolute;
    opacity: 0;
}

#file-image img:first-child{
    opacity: 1;
}


div.indexinformation {
    margin-left: 20px;
}

div.indexinformation h4 {
    padding-bottom: 5px;
    font-size: 18px;
}

div.indexinformation h5 {
    padding-bottom: 10px;
    font-size: 14px;
    color: #777777;
    font-weight: normal;
}

div.indexinformation a {
    text-decoration: none;
    color: #6558C3;
    font-size: 14px;
    font-weight: bold;
}

#newRecipe {
    margin: 0 auto;
    width: 940px;
    padding-top: 20px;
}

#newRecipe a {
    text-decoration: none;
    color: #6558C3;
    font-weight: bold;
    font-size: 16px;
    position: relative;

}

#newRecipe a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -4px;
}
#newRecipe a:hover::after {

    width: 100%;
    transition: width 700ms ease-in-out;
}

#newRecipe a:hover {
    color: black;
}

/* ==== ADMIN SHOW ==== */

div.show {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    padding-top: 55px;
}

div.show h1 {
    font-weight: bold;
font-size: 24px;
color: #111111;
    
}

div.show a {
    text-decoration: none;
    padding: 9px 20px;
    background-color: #6558C3;
    color: white;
    border-radius: 4px;
}


/* === edit === */

div.create {
    display: flex;
    justify-content: space-between;
    width: 940px;
}

#buttonDelete {
    background-color: rgba(255, 0, 0, 0.637);
}

/*CREATE CHEF */

input#chefFile {
    border: none;
    width: 139px;
    height: 37px;
    position: absolute;
    opacity: 0;
    
}

div.chefFile {
    position: relative;
    display: block;
    width: 139px;
    height: 37px;
    margin-top: 20px;
    
}

button#sendChefFile{

    position: absolute;
    background-color:#6558C3 ;
    width: 139px;
    height: 37px;
    border-radius: 8px;
    color: white;
    font-size: 16px;

}

/* CHEF INDEX */



div.chefFormFile #photos-preview .photo i {
    top: 10px;
    left: -5px;
}

div.chefFormFile #photos-preview .photo img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}



div.indexchef {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

div.indexchef h2 {

padding-top: 50px;
padding-bottom: 39px;
margin: 0 auto;
margin-top: 10px;


}

div.indexchef a:first-child {

padding: 9px 20px;
text-decoration: none;
background-color: #6558C3;
box-sizing: border-box;
position: absolute;
right: 0;
color: white;
margin-top: 50px;
margin-bottom: 5px;
border-radius: 8px;
box-shadow: 6px 7px 16px 0px #77777768;
justify-self: center;




}

div.indexchef a:first-child:hover {
    box-shadow: 6px 7px 16px 0px #777777ce
}

div.cheflist{

display: grid;
grid-template-columns: 1fr 1fr 1fr;
width: 940px;
margin: 0 auto;
gap: 20px


}

div.chefcard {

    display: flex;
}


div.chefcard img {

width: 64px;
height: 64px;
border-radius: 50%;
margin-right: 20px;

}

div.chefcard p {

    font-size: 18px;
    color: #111111;
    padding-bottom: 10px;

}

div.chefcard a {

text-decoration: none;
font-weight: bold;
font-size: 14px;
color: #6558C3;

}


/* SHOW CHEF */

#imgchefshow{

width: 200px;
height: 200px;
border-radius: 50%;


}

#chefrecipeslist {

    padding-top: 50px;
    padding-bottom: 30px;
    width: 940px;
    margin: 0 auto;
}

/* EDIT CHEFS */

.formheader {

    padding-top: 55px;

}

.buttonschef :nth-child(1) {

    background-color: #DC4747;
   padding: 9px 20px;
   margin-right: 10px;

}

.buttonschef :nth-child(2) {

    padding: 9px 20px;
}


/* CHEF GENERALS */


#indexchefgeneral {

padding-top: 50px;


}

#cheflistgeneral {

    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#cheflistgeneral p:first-child {


color: #111111;
font-size: 18px;
padding-bottom: 5px;


}

#cheflistgeneral p{

color: #666666;
font-size: 14px;


}

/*PHOTOS UPLOAD */

div.photos-container {

padding-top: 10px;
display: flex;

}


div.photos-upload {

width: 150px;
height: 150px;
display: flex;
position: relative;
justify-content: center;
align-items: center;
border: 1px solid #DDDDDD;
margin-right: 8px;


}

div.photos-upload i {

font-size: 40px;
color: #777777;

}


input#photos-input {

width: 100%;
min-width: 150px;
height: 100%;
min-height: 150px;
opacity: 0;
position: absolute;

}

div#photos-preview {

    display: flex;

}

#photos-preview .photo {
    position: relative;
}

#photos-preview .photo img  {

    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 8px;
}

#photos-preview .photo img:last-child {

margin: 0;


}

#photos-preview .photo i {

    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);

    color: red;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 500%;
    cursor: pointer;
    opacity: 0;
    transition: 400ms;

}

#photos-preview .photo:hover i {

    opacity: 1;
}

/* GALLERY AND LIGHTBOX */

.recipe .gallery {

    width: 100%;
    
}


.recipe .highlight > img {

width: 100%;
height: 280px;
margin-top: 24px;
object-position: 50% 50%;


border: 1px solid #efefef;
border-radius: 15px;

cursor: zoom-in;

}

.recipe .gallery-preview {
    display: flex;
    justify-content: end;
}

.recipe .gallery-preview{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


.recipe .gallery-preview img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-left: 4px;
    opacity: 0.6;
    cursor: pointer;

    transition: 200ms;


}

.recipe .gallery-preview img:hover,
.recipe .gallery-preview img.active  {

    opacity: 1;
}


/* lightbox product gallery */

.recipe .highlight .lightbox-target {

    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .7);

    overflow: hidden;
    z-index: 100;

    top:-100%;
    left: 0;

    opacity: 0;

    transition: opacity 400ms;

}

.recipe .highlight .lightbox-target img {

    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: white;
    box-shadow: 0px 0px 8px rgba(0,0,0, .3);

    width: 90%;
    height: 90%;
    object-fit: contain;

}

.recipe .highlight a.lightbox-close {

    width: 50px;
    height: 50px;
    background: white;
    position: absolute;
    top: -80px;
    right: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 400ms;

}

/* USERS FORM */
div.title {
    margin: 0 auto;
    width: 940px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 36px;
}

div.title .titlebuttons {
    display: flex;
}

div.title .titlebuttons button {
    width: 120px;
}

div.title .titlebuttons button:last-child {
    margin-left: 16px;
    background-color: #8A8A8A;
}

div.fields {
    margin: 0 auto;
    width: 940px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
}

div.fields .userField input.userFieldInput {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
}


div.isadmin {
    width: 940px;
    margin: 0 auto;
}

#isadmin {
width: 20px;
height: auto;
margin: 36px auto 0 auto ;
padding: 0;
}

div.isadmin label {
    font-weight: bold;
    font-size: 14px;
}
