

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  
 
}

div.menu {
    display: flex;
    justify-content: left;
    align-items: center;
    justify-items: center;
    margin-left: 200px;
    margin-top: 37px;

}

.menu img {
    width: 90.6px;
    height: 26.9px;
    margin-right: 122.4px;

}

.menu a {
    color: #111111;
    text-decoration: none;
    font-size: 16px;
    margin-left: 30px;
    
}


#chef {
    width: 840px;
    height: 366px;
    padding: 66px 100px 0px 60px;
    background-color: #FBDFDB;
    display: flex;
    border-radius: 30px;
    margin: 0 0 0 200px;
    margin-top: 30px;
    
}

#chef h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px; 
    margin-top: 117px;
    

    
}

#chef p {
    max-width: 316px;
    text-align: justify;
    opacity: 0.7;
    font-size: 18px;
    margin-right: 249px;
    margin-bottom: 117px;
    line-height: 28px;
}

#chef img {
    width: 216px;
    height: 300px;
    margin-top: 66px;

}


div.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 200px;
    margin-right: 200px;
    gap: 0;
}

div.card img {
    height: 140px;
    width: 300px;
    border-radius: 15px;
    cursor: pointer;

}

.container h2 {
  margin-left: 200px;  
}

.footer {
    margin-top: 0;
}

footer {
    background-color: #EEEEEE;
    width: 100%;
    margin-bottom: 0;
     
}

footer p {
    text-align: center;
    font-size: 14px;
    color: #999999;
    padding: 2%;
    margin: 0
}

/* SOBRE HTML */
div.sobreofoodfy {
    margin-left: 200px;
}

div.sobreofoodfy h1 {
    font-size: 24px;
    font-weight: bold;
}

div.sobreofoodfy h2 {

    font-size: 20px;
    font-weight: bold;

}

div.sobreofoodfy p {
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
}

/* PAGE RECEITAS */

div.container {
    margin-top: 50px;
}

/* PAGE RECIPE */

.image {
    display: flex;
    justify-content: center;
}

.image img {
    width: 940px;
    height: 280px;
    border-radius: 15px;
    margin: 50px 230px 50px 230px;
}

.recipe {
    margin-bottom: 0;
}

.recipe h1 {
    font-size: 36px;
    font-weight: bold;
    color: #111111;
    text-align: center;
    margin-bottom: 4px;
}

.title p {
    font-size: 20px;
    color: #777777;
    text-align: center;
    margin-top: 0;

}

.recipe-description {
    align-items: center;
    padding: 0px;
    margin-top: 0;
}



.span {
    display: flex;
    align-items: center;
    margin-left: 230px;
    margin-right: 230px;
    margin-bottom: 0px;
}

.span h2 {
    font-weight: bold;
    font-size: 24px;
    color: #111111;
    
}

.span span{
    color: #999999; 
    margin-left: 8px;
    font-size: 12px;
    transition: 500ms;
}

.content p {
text-align: justify;
font-size: 18px;
color: #444444;
line-height: 28px;
}

.content li {
font-size: 18px;
color: #444444;
line-height: 28px;
}

.content.hide{
    visibility: hidden;
    display: none;
}
.recipe ul {
    margin-left: 230px;
    margin-right: 230px;
}

p#information {
    margin-left: 230px;
    margin-right: 230px;
}