{%extends "general/layout.njk"%}

{%block content%}

    <div id="indexchefgeneral" class="indexchef">

        <div id="cheflistgeneral" class="cheflist">
            {%for item in item%}
                <div class="chefcard">
                    {%for file in files%}
                    {%if item.file_id == file.id%}
                    <img src="{{file.src}}" alt="">
                    {%endif%}
                    {%endfor%}
                    <div>

                        <p>{{item.name}}</p>
                        <p>{{item.total_recipes}}
                            receitas</p>
                    </div>
                </div>
                {%endfor%}  

            </div>

        </div>
    </div>
{%endblock content%}