{%extends "general/layout.njk"%}

  {%block title%}
    <title>Home</title>
    {%endblock title%}
  {%block menu%}
     <form id="filter-recipes" action="/receitas" method="GET">
        
            <input  type="text" 
                    name="filter"
                   placeholder="Buscar uma receita"
                   value="{{filter}}"
            >

            <button form="filter-recipes" type="submit">Filtrar</button>
        
        </form>
    {%endblock menu%}

    {%block content%}

    <div class="container">

        <div id="chef">
            
            <div>
            <h1>As melhores Receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>

            </div>
            <img src="assets/chef.png" alt="">

        </div>
        
        <h2>Mais acessadas</h2>
        
        <div class="cards" id="cardsRecipes">

            {%for item in recipes%}
            <div class="card" id="{{item.id}}">
                <div class="cardfile">

                <a href="/recipe/{{item.id}}">
                {%for file in files%}
                {%if item.id == file.recipe_id %}
                <img src="{{file.src}}"alt="imagem de {{item.title}}">
                {% endif %}
                {%endfor%}
                </a>
                </div>
                <h4>{{item.title}}</h4>
                <p>por {{item.chef_name}}</p>


            </div>

            {%endfor%}




        </div>

           

    </div>

  
    
    {%endblock content%}

    