{%extends "general/layout.njk"%}

  {%block title%}
    <title>Home</title>
    {%endblock title%}


    {%block content%}
    <div class="container">

        <div id="chef">
            
            <div>
            <h1>As melhores Receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>

            </div>
            <img src="assets/chef.png" alt="">

        </div>
        
        <h2>Mais acessadas</h2>
        
        <div class="cards" id="cardsRecipes">

            {%for item in item%}
            <div class="card" id="{{item.id}}">

                <a href="/recipe/{{item.id}}">
                <img src="{{item.image}}" alt="imagem de {{item.title}}">

                </a>
                <h4>{{item.title}}</h4>
                <p>por {{item.chefs_name}}</p>


            </div>

            {%endfor%}




        </div>

           

    </div>

  
    
    {%endblock content%}

    {%block scripts%}
    <script src="/scripts/scripts.js"></script>
    {%endblock scripts%}
