<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">
  
        {%block title%}
        {%endblock title%}
    </head>

    <body>


        <div class="menu">
            
            <a href="/"><img src="/assets/logo.png" alt=""></a>
            
            <a href="/sobre">Sobre</a>
            <a href="/receitas">Receitas</a>
            <a href="/chefs">Chefs</a>
            {%block menu%}
            {%endblock menu%}
            
       
        
        </div>  

        {%block content%}
        {%endblock content%}

        <script src="/scripts/scripts.js"></script>

        <div class="footer">


            <footer>

                <p>Todos direitos reservados, receitas Foodfy.</p>


            </footer>

        </div>
       
      
    
    </body>
</html>