{%extends "general/layout.njk"%}

    {%block title%}
    <title>Receitas</title>
    {%endblock title%}

    {%block menu%}
     <form id="filter-recipes" action="/receitas" method="GET">
        
            <input  type="text" 
                    name="filter"
                   placeholder="Buscar uma receita"
                   value="{{filter}}"
            >

            <button form="filter-recipes" type="submit">Filtrar</button>
        
        </form>
    {%endblock menu%}


    {%block content%}
    <div class="searchFor">

    <h2 >Buscando por : '{{filter}}'</h2>

    </div>
    <div class="container">
        
        <div class="cards" id="cardsRecipes">

            {%for item in recipes%}
            <div class="card" id="{{item.id}}">
               
                <a href="/recipe/{{item.id}}">
                 {%for file in files%}
                {%if item.id == file.recipe_id%}
                <img src="{{file.src}}" alt="imagem de {{item.title}}">
                {%endif%}
                {%endfor%}
                </a>
                <h4>{{item.title}}</h4>
                <p>por {{item.chef_name}}</p>


            </div>

            {%endfor%}




        </div>

         <div class="pagination" data-page={{pagination.page}} data-total={{pagination.total}} data-filter={{filter}}></div>

    </div>

 

    {%endblock content%}


   
        