{%extends "admin/layoutadmin.njk"%}

{%block content%}
    <div class="createUser edit">

        <form id="edit-user" action="/admin/profile?_method=PUT" method="post" class="card">

        <div class="title">
            <h2>Bem vindo, {{user.name}}</h2>
            <div>
                <button form="edit-user" type="submit">Atualizar</button>
            </div>
        </div>

        {%include 'admin/profile/fields.njk'%}

        </form>
    </div>

{%endblock content%}