{%extends "admin/layoutadmin.njk"%}

{%block content%}


    <form id="form-passwordChange" action="/admin/password-change?_method=PUT" method="post">
    

        <div class="fields passwordChange">
        
        <h1>Alteração de Senha</h1>

            <div class="userField passwordChange">
 
                <input class="userFieldInput" type="password" name="OldPassword" placeholder="Digite sua senha atual para poder alterá-la">

            </div>

            <div class="userField passwordChange">

                <input class="userFieldInput" type="password" name="NewPassword" placeholder="Digite sua nova senha">

            </div>

            <div class="userField passwordChange">

                <input class="userFieldInput" type="password" name="RepeatPassword" placeholder="Repita sua nova senha">

            </div>

        </div>

        <div class="buttoncontainer">

        <button form="form-passwordChange" type="submit">Salvar</button>
        </div>


    </form>

{%endblock content%}