{% extends "admin/layoutadmin.njk" %}

{%block title%}
<title>Editar Receita</title>
{%endblock title%}



{%block content%}



    <div class="create">

        <h2>Criando Receita</h2>
        <div class="edit-buttons">

        <button id="buttonDelete" type="submit" form="form-delete">Deletar Receita</button>
        <button type="submit" form="form-edit">Salvar Receita</button>

        </div>

    </div>

<form action="/admin/recipes?_method=PUT" method="post" class="card" id="form-edit">

    <div class="item">

        <p>Nome</p>
        <input type="text" name="title" value="{{items.title}}">


    </div>

      <div class="item">

        <p>Autor</p>
        <select name="chef_id">

            {%for chef in options%}
            <option value="{{chef.id}}">{{chef.name}}</option>
            {%endfor%}

        </select>


    </div>


    <div class="item">

        <p>Imagem da Receita</p>
        <input type="url" name="image" value="{{items.image}}">


    </div>

    <div id="addIngredient">

        <p>Ingredientes</p>

        {%for ingredient in items.ingredients%}
        <div class="ingredient">
            <input type="text" name="ingredients[]" value="{{ingredient}}">
        </div>
        {%endfor%}
    </div>

    <div class="buttonadd">

        <button type="button" class="addIngredient">Adicionar novo ingrediente</button>

    </div>

    <div id="addPreparation">


        <p>Modo de preparo</p>
        {%for preparation in items.preparation %}
        <div class="preparation">

            <input type="text" name="preparation[]" value="{{preparation}}">

        </div>
        {%endfor%}
    </div>

    <div class="buttonadd">

        <button type="button" class="addPreparation">Adicionar novo passo</button>

    </div>

    <div class="item">

        <p>Informações adicionais</p>
        <textarea name="information" cols="30" rows="10">{{items.information}}</textarea>

    </div>

    <input type="hidden" name="id" value="{{items.id}}">

</form>

<form action="/admin/recipes?_method=DELETE" method="post" id="form-delete">

<input type="hidden" name="id" value="{{items.id}}">


</form>

{% include "admin/recipes/confirm.njk"%}

{%endblock content%}


{%block scripts%}

<script src="/scripts/admin-features.js"></script>


 {%endblock scripts%}










