<div class="create">

        <h2>Criando Receita</h2>
        <button type="submit">Salvar Receita</button>


    </div>

    <div class="item">

        <p>Nome</p>
        <input type="text" name="title" value="{{item.title}}">


    </div>

    <div class="item">

        <p>Autor</p>
        <input type="number" name="chef_id" value="{{item.chef_id}}">


    </div>

    <div class="item">

        <p>Imagem da Receita</p>
        <input type="url" name="image" value="{{item.image}}">


    </div>

    <div id="addIngredient">

        <p>Ingredientes</p>

        {%for ingredient in item.ingredients%}
        <div class="ingredient">
            <input type="text" name="ingredients[]" value="{{ingredient}}">
        </div>
        {%endfor%}
    </div>

    <div class="buttonadd">

        <button type="button" class="addIngredient">Adicionar novo ingrediente</button>

    </div>

    <div id="addPreparation">


        <p>Modo de preparo</p>
        {%for preparation in item.preparation %}
        <div class="preparation">

            <input type="text" name="preparation[]" value="{{preparation}}">

        </div>
        {%endfor%}
    </div>

    <div class="buttonadd">

        <button type="button" class="addPreparation">Adicionar novo passo</button>

    </div>

    <div class="item">

        <p>Informações adicionais</p>
        <textarea name="informations" cols="30" rows="10">{{item.informations}}</textarea>

    </div>
