{%extends "admin/layoutadmin.njk"%}



{%block title%}
<title>Admin - Receitas</title>
{%endblock title%}


{%block content%}

<div id="indexh1">

<h1>Gerenciar Receitas</h1>
</div>



<div class="containerIndex">


    {%for item in items%}
    <div class="cardIndex">
        <div id="file-image">
        {%for file in files%}
        {%if item.id == file.recipe_id%}
        <img src="{{file.src}}" alt="">
        {%endif%}
        {%endfor%}
        </div>
        <div class="indexinformation">

            <h4>{{item.title}}</h4>
            <h5>por {{item.chefs_name}}</h5>
            <a href="/admin/recipes/{{item.id}}">Visualizar</a>

            
        </div>


    </div>
    {%endfor%}


</div>

<div id="newRecipe">

<a  href="/admin/recipes/create">Nova Receita</a>

</div>

{%endblock content%}
