{%extends "admin/layoutadmin.njk"%}

{%block title%}
<title>Receita - {{item.title}}</title>

{%endblock title%}

{%block content%}
<div class="show">

<h1>Receita: {{item.title}}</h1>
<a href="/admin/recipes/{{item.id}}/edit">Editar Receita</a>

</div>

    <section class="recipe">

        <div class=image>

            <img src="{{item.image}}" alt="">

        </div>

        <div class="title">

            <h1>{{item.title}}</h1>
            <p> por {{item.chef_id}}</p>
        </div>

        <div class="recipe-description">

            <div class="span">
            
                <h2>Ingredientes</h2>

              

            </div>

                <ul class="content">

                    {%for ingredients in item.ingredients%}
                    <li>{{ingredients}}</li>
                    {%endfor%}

                </ul>
        </div>
            

        <div class="recipe-description">
                
                <div class="span">

                    <h2>Modo de Preparo</h2>


                </div>

            <ul class="content">
                {%for preparation in item.preparation%}
                <li>{{preparation}}</li>
                {%endfor%}
            </ul>

        </div>


        <div class="recipe-description">
                
                    <div class="span">

                        <h2>Informações</h2>

                    </div>

            <div class="content">

                <p id="information">{{item.information}}</p>

            </div>

        </div>


    </section>

{%endblock content%}    